<br>
<h1>toilets</h1>
<% @toilets.each do |toilet| %>
  <div align="center">
    <div class="card w-85" align="left">
      <div class="card-body">
        <h3 align="center" class="card-title"><%= toilet.name %></h3>
        <p class="card-text">Address: <%= toilet.address %></p>
        <p class="card-text">Location: <%= toilet.location %></p>
        <p class="card-text">Poop rating: <%= toilet.poop_rating %> / 5</p>
        <p class="card-text">Atmosphere:  <%= toilet.atmosphere %> / 5</p>
        <%= link_to "More Info", toilet_path(toilet), :class => 'btn btn-outline-info' %>
      </div>
    </div><br>
  </div>
<% end %>
