<div align="center">
  <br><div class="card w-75" align="left">
    <div class="card-body">
      <h3 align="center"><%= @toilet.name %></h3>
      <p><b>Address</b><br><%= @toilet.address %></p>
      <p><b>Location</b><br><%= @toilet.location %></p>
      <p><b>Poop Rating</b><br><%= @toilet.poop_rating %> / 10</p>
      <p><b>Atmosphere</b><br><%= @toilet.atmosphere %> / 10</p>
      <hr>
      <%= link_to "Edit", edit_toilet_path(@toilet),:class => 'btn btn-outline-warning' %>
      <%= link_to "Delete", toilet_path(@toilet),
                    method: :delete,
                    data: {confirm: 'Are you sure?'},
                    :class => 'btn btn-outline-danger' %>
      <br><br>
      <%= render 'comments/comments' %>
      <hr>
      <%= render 'comments/form' %>

    </div>
  </div>
</div>
