<!DOCTYPE html>
<html>
  <head>
    <title>Swampass</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:500" rel="stylesheet">

  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">SwampAss</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", home_path %></li>
          </ul>
          <ul class="nav navbar-nav ml-auto">
            <li><%= link_to "Add Toilet", new_toilet_path %></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- display all components -->
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
